.simple-action {
  color: var(--color-second);
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.simple-action.-light {
  font-family: 'Bitter', serif;
  color: var(--color-base-light);
}